:host {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px;
}

h2[nz-typography] {
  margin-top: 16px;
  text-align: center;
}

nz-carousel {
  width: 100%;
  margin-top: 40px;
  border-radius: 2rem;
  border-color: #dfe5ed;
  border-width: 1px;
}

[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #f7f9fa;
  overflow: hidden;
}

h3 {
  margin-bottom: 0;
  user-select: none;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}

.product-card {
  flex: 0 0 calc(20% - 13px);
}

[nz-carousel-content] {
  height: auto !important;
  min-height: 300px;
}
