<h2 nz-typography>Productos más elegidos</h2>
<nz-carousel
  [nzEffect]="'scrollx'"
  [nzDots]="false"
  nzAutoPlay
  nzAutoPlaySpeed="5000"
>
  @for (index of indexes; track index) {
  <div nz-carousel-content>
    <div class="card-container">
      @for (i of [0, 1, 2, 3, 4]; track i) { @if (index + i <
      tempProducts.length && i < cardsPerView) {
      <app-featured-product-card
        [product]="tempProducts[index + i]"
      ></app-featured-product-card>
      } }
    </div>
  </div>
  }
</nz-carousel>
