:host {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px;
}

h2[nz-typography] {
  margin-top: 16px;
  text-align: center;
}

nz-carousel {
  width: 100%;
  margin-top: 40px;
  border-radius: 2rem;
  border-color: #dfe5ed;
  border-width: 1px;
}

[nz-carousel-content] {
  text-align: center;
}

.card-container {
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

nz-carousel {
  ::ng-deep {
    .slick-list,
    .slick-track,
    .slick-slide {
      height: auto !important;
    }
  }
}
