<nz-card
  style="width: 230px"
  [nzCover]="coverTemplate"
  [nzActions]="[actionAddToCart]"
>
  <nz-card-meta
    [nzTitle]="product.name"
    [nzDescription]="descriptionTemplate"
  ></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img
    nz-image
    nzDisablePreview="true"
    [nzSrc]="product.imageUrl"
    height="230"
    alt="{{ product.name }}"
  />
</ng-template>
<ng-template #descriptionTemplate>
  <nz-rate [ngModel]="product.ratingMedia" nzDisabled nzAllowHalf></nz-rate>
  <span> {{ product.totalRates | number }}</span>
  @if (product.discountedPrice) {
  <p>
    S/. {{ product.discountedPrice | number : "1.2-2" }}
    <del>S/. {{ product.price | number : "1.2-2" }}</del>
  </p>
  } @else {
  <p>S/. {{ product.price | number : "1.2-2" }}</p>
  }
</ng-template>
<ng-template #actionAddToCart>
  <a nz-button nzSize="large" nzType="primary">
    <span class="btn-text">Agregar al carrito</span>
    <nz-icon nzType="shopping-cart" nzTheme="outline" />
  </a>
</ng-template>
