:host {
  display: block;
  width: 100%;
}

h2[nz-typography] {
  margin-top: 16px;
  text-align: center;
}

.producers-container {
  max-width: 1200px;
  margin: 0 auto;
}

.card-container {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.single-column {
  width: auto;

  .card-container {
    padding: 0;
  }

  ::ng-deep app-featured-producer-card {
    width: auto;

    :host {
      margin: 0;
      padding: 0;
    }
  }
}
