.main-title {
  text-align: center;
  margin: 16px 0;
}

.about-container {
  padding: 48px 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-content {
  text-align: left;

  &.text-centered {
    text-align: center;
    margin-top: 16px;
  }
}

.text-section {
  margin-bottom: 32px;

  h3 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 16px;
    line-height: 1.6;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

[nz-image] {
  width: 100%;
  border-radius: 8px;
}
