<nz-header class="header">
  @if (isMedium) {
  <h1 class="logo">OrgFood</h1>
  <div class="nav-buttons">
    <button
      nz-button
      nzType="link"
      nzSize="large"
      nzShape="circle"
      (click)="toggleSidebar()"
    >
      <nz-icon nzType="menu" nzTheme="outline" />
    </button>
  </div>
  } @else {
  <h1 class="logo">OrgFood</h1>
  <div class="nav-buttons">
    <a nz-button nzSize="large" nzType="link">
      <nz-icon nzType="appstore" nzTheme="outline" />
      <span class="btn-text">Categorías</span>
    </a>
    <a nz-button nzSize="large" nzType="link">
      <nz-icon nzType="rise" nzTheme="outline" />
      <span class="btn-text">Más vendidos</span>
    </a>
    <a nz-button nzSize="large" nzType="link">
      <nz-icon nzType="info-circle" nzTheme="outline" />
      <span class="btn-text">¿Quiénes somos?</span>
    </a>
    <a nz-button nzSize="large" nzType="link">
      <nz-icon nzType="user" nzTheme="outline" />
      <span class="btn-text">Mi perfil</span>
    </a>
    <button nz-button nzType="primary">
      <nz-icon nzType="shopping-cart" nzTheme="outline" />
      <span class="btn-text">Carrito</span>
    </button>
  </div>
  }
</nz-header>
