<div class="flex items-center justify-center min-h-screen">
  <ul class="list bg-base-100 rounded-box shadow-md p-4 w-full">
    @for (address of me.addresses; track address) { @if (address.orders !=
    undefined) {
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
      Orders from {{ address | address }}
    </li>
    @for (order of address.orders; track order) {
    <li
      class="list-row flex flex-col md:flex-row md:items-start gap-2 md:gap-4"
    >
      <!-- Información de la orden -->
      <div class="flex-1">
        <div>{{ order.delivery | date: 'MM/dd/yyyy' }}</div>
        @for (row of order.rows; track row) {
        <div class="text-xs uppercase font-semibold opacity-60">
          {{ row.product.name }}
        </div>
        }
      </div>

      <!-- Botón alineado a la derecha y abajo -->
      <div class="md:ml-auto md:self-end w-full md:w-fit">
        <button class="btn btn-accent w-full md:w-fit">More</button>
      </div>
    </li>
    } } }
  </ul>
</div>
