.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  z-index: 1000;

  .sidebar-menu {
    padding: 16px 0;

    [nz-menu-item] {
      height: 48px;
      line-height: 48px;
      margin: 4px 0;

      span {
        margin-right: 8px;
      }
    }
  }
}
